<div class="section">
    <div class="container">
	    <div class="columns is-centered">
		    <div class="column is-4 translucid">
                <h1>Editing User</h1>

                <%= render 'form', user: @user %>

                <%= link_to 'Show', @user %> |
                <%= link_to 'Back', users_path %>
            </div>
        </div>
    </div>
</div>