<div class="section">
	<div class="container">
	  <div class="columns is-centered">
		  <div class="column is-4 translucid">
        <p>
          <strong>User:</strong>
          <%= @attendance.user_id %>
        </p>

        <p>
          <strong>Event:</strong>
          <%= @attendance.event_id %>
        </p>

        <%= link_to 'Edit', edit_attendance_path(@attendance) %> |
        <%= link_to 'Back', attendances_path %>
      </div>
    </div>
  </div>
</div>